<a href="https://colab.research.google.com/github/Karunasagar-K/Python/blob/main/Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 4 Data Structures in Python

### 1. List
### 2. Sets
### 3. Tuple
### 4. Dictionary(Key - value)

### 1.List


*   1D
*   Heterogenous
*   Indexable and Slicable
*   Mutable-Changable
*   Allows Duplicate values

In [26]:
empty_list=[]
type(empty_list)

list

In [27]:
marks=[70,85,89,64,98,100,95,"Selva"] #Heterogenous
type(marks)

list

In [28]:
marks[2] = "Mani" #indexable
marks

[70, 85, 'Mani', 64, 98, 100, 95, 'Selva']

In [29]:
marks[2:6] #Slicable

['Mani', 64, 98, 100]

In [30]:
marks.reverse()
marks

['Selva', 95, 100, 98, 64, 'Mani', 85, 70]

In [31]:
marks.append(300)
marks

['Selva', 95, 100, 98, 64, 'Mani', 85, 70, 300]

## 2. Sets

* 1D
* Heterogenous
* Mutable
* Not Indexable and not sliceable
* Not allow duplicate values

In [35]:
empty_set = set()
type(empty_set)

set

In [40]:
names={"Mani","Nandhish","Karunas","Nandhish","Karthi","Nayanthara"}
names

{'Karthi', 'Karunas', 'Mani', 'Nandhish', 'Nayanthara'}

In [41]:
type(names)

set

In [43]:
names{2:} #not indexable

SyntaxError: ignored

In [48]:
names.add(5)
names

{5, 'Karthi', 'Karunas', 'Mani', 'Nandhish', 'Nayanthara'}

In [50]:
names.add("Vani")
names

{5, 'Karthi', 'Karunas', 'Mani', 'Nandhish', 'Nayanthara', 'Vani'}

## 3. Tuples

* 1D
* Heterogenous
* Indexable and Sliceable
* Immutable
* Allows duplicate values

In [51]:
empty_tuple=()
type(empty_tuple)

tuple

In [53]:
mobile=("Samsung","MI","Nokia",12,54)
mobile

('Samsung', 'MI', 'Nokia', 12, 54)

In [54]:
type(mobile)

tuple

In [56]:
mobile[2:]

('Nokia', 12, 54)

In [57]:
mobile[1]

'MI'

In [58]:
mobile[1] = "Apple"

TypeError: ignored

## 4. Dictionary - Key value Pair

In [59]:
empty_dict={}
type(empty_dict)

dict

In [60]:
batsman={"Faf":98,"Msd":85,"Shane":91}
batsman

{'Faf': 98, 'Msd': 85, 'Shane': 91}

In [61]:
batsman.keys()

dict_keys(['Faf', 'Msd', 'Shane'])

In [62]:
batsman.values()

dict_values([98, 85, 91])

In [66]:
Scorecard={"Batsman":["Faf","Virat","MSD"],
           "Runs":[85,120,36],
           "6s":[5,9,6]}
Scorecard

{'6s': [5, 9, 6], 'Batsman': ['Faf', 'Virat', 'MSD'], 'Runs': [85, 120, 36]}

In [68]:
import pandas

In [70]:
pandas.DataFrame(Scorecard)

  Batsman  Runs  6s
0     Faf    85   5
1   Virat   120   9
2     MSD    36   6