<a href="https://colab.research.google.com/github/Karunasagar-K/Python/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Assignment - 2

Submit 2 examples for each module.
1. while loop
2. for loop
3. if else
4. if elif else
5. user defined functions without for loop, if loop
6. user defined functions with for loop
7. user defined functions with for loop and if loop
8. break
9. continue
10. for loop with in operator
11. for loop with if statement 
12. for loop with not in operator
10. if with in operator
11. if with not in opearator

### 1.While Loop
* With the while loop we can execute a set of statements as long as a condition is true.

In [2]:
#Eg-1
#Print i as long as i less than 10
i=1
while i<10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9

In [8]:
#Eg-2
#exit the loop when i is 5
i=1
while i<10:
  print(i)
  if i==5:
   break
  i=i+1

1
2
3
4
5

### 2.For loop

In [13]:
#Eg-1
names=["Karunas","Senthil","Kamesh","Naveen","Nandhi","Durkee"]
for k in names:
  print(k)

Karunas
Senthil
Kamesh
Naveen
Nandhi
Durkee

In [15]:
#Eg-2
numbers=[1,2.5,3.5,6,8.5,14.5,23]
for k in numbers:
  print(k)

1
2.5
3.5
6
8.5
14.5
23

### 3.If else

In [24]:
#Eg-1
w=int(input("Enter the number:"))
if w%2==0:
   print("{} is even number".format(w))
else:
     print("{} is odd number".format(w))

Enter the number:4
4 is even number

In [27]:
#Eg-2
word = input("Enter the word:") 
if len(word) <= 5: 
 print("{} is not exceed 5 letters".format(word))
else: 
 print("{} is exceed than 5 letters".format(word))

Enter the word:Mani
Mani is not exceed 5 letters

### 4.If elif else

In [34]:
#Eg-1
l=int(input("Enter the number:"))
if l<100:
  print("{} is lesser than 100".format(l))
elif l==100:
  print("{} is equal to 100".format(l))
else:
  print("{} is greater than 100".format(l))

Enter the number:102
102 is greater than 100

In [37]:
#Eg-2
h=input("Enter the name:")
if len(h)<10:
  print("{} is lesser than 10 characters".format(h))
elif len(h)==100:
  print("{} is equal to 10 characters".format(h))
else:
  print("{} is greater than 10 characters".format(h))

Enter the name:Karunasagar
Karunasagar is greater than 10 characters

### 5.user defined functions without for loop, if loop

In [42]:
#Eg-1
def Leaders():
  print("Thanthai Periyar")
  print("Aringar Anna")
  print("Kalaingar")

In [43]:
Leaders()

Thanthai Periyar
Aringar Anna
Kalaingar

In [47]:
#Eg-2
def Principles(a,b,c):
  return("My Party Aim is {},we will work on the basis of {} and our destination is {} ".format(a,b,c))

In [48]:
Principles("State Autonomy","Duty,Dignity,Control","Equality,Liberty,Fraternity")

'My Party Aim is State Autonomy,we will work on the basis of Duty,Dignity,Control and our destination is Equality,Liberty,Fraternity '

### 6.user defined functions with for loop

In [52]:
#Eg-1
def games(name):
  for i in name:
    print(i)

In [54]:
games("Cricket")

C
r
i
c
k
e
t

In [55]:
#Eg-2 
def user(location):
  for i in location:
    print(i)

In [56]:
user("Dindigul")

D
i
n
d
i
g
u
l

### 7.user defined functions with for loop and if loop

In [67]:
#Eg-1
def num(number): 
 for i in range(number): 
  if i%2==0:
   print(i) 
 else: 
   print('End of for loop')

In [68]:
num(6)

0
2
4
End of for loop

In [82]:
#Eg-2 
#FIND ODD OR EVEN USING FUNCTION 
def numbers(i): 
 if i%2 == 0: 
  print("even") 
 else: 
  print("odd")

In [83]:
numbers(5)

odd

In [87]:
#Eg-3
#FIND THE NUMBER IS GREATER OR LESSER OR EQUAL TO 100 WITH FUNCTION
def numbers(num): 
 if num < 100: 
  print("{} is less than 100".format(num)) 
 elif num > 100: 
  print("{} is greater than 100".format(num)) 
 else: 
  print("{} is equal to 100".format(num))

In [88]:
numbers(88)

88 is less than 100

In [89]:
numbers(100)

100 is equal to 100

### 8.Break

In [93]:
#Eg-1
for i in range(1,101): 
 if i % 5 == 0:
  break
 print(i)

1
2
3
4

### 9.Continue

In [100]:
##CONTINUE THE STATEMENT,IF DIVIDED BY 2 
for x in range(1,10): 
 if x%2 == 0: 
  continue 
  print(x)

### 10.for loop with in operator

In [103]:
#Eg-1
b = "Anna is a great leader" 
"great" in b

True

In [104]:
"anna" in b

False

In [105]:
"Anna" in b

True

### 11.for loop with if statement

In [107]:
#Eg-1
for k in range(5,50): 
 if k%9==0: 
  print(k)

9
18
27
36
45

In [109]:
#Eg-2
for k in range(5,50): 
 if k%8==0: 
  break 
 print(k)

5
6
7

### 12.for loop with not in operator 
### 13.If with in operator

In [123]:
 numbers_list =[1,2,3,4,5,6,7,8,9,10]; 
for a in numbers_list: 
  if a in (5,8): 
   print("numbers {} are in numbers_list".format(a)) 
  else: 
   print("numbers {} are not in numbers_list".format(a))

numbers 1 are not in numbers_list
numbers 2 are not in numbers_list
numbers 3 are not in numbers_list
numbers 4 are not in numbers_list
numbers 5 are in numbers_list
numbers 6 are not in numbers_list
numbers 7 are not in numbers_list
numbers 8 are in numbers_list
numbers 9 are not in numbers_list
numbers 10 are not in numbers_list